<div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">My Profile</h1>
      <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr >
        <td class="text-center">{{ employee.name }}</td>
        <td>          
          <!-- <button data-title="Edit" data-toggle="modal" data-target="#edit" title="Edit" class="btn btn-info"
          (click)="showEditEmployeeForm(employee)">
                       <i class="glyphicon glyphicon-pencil"></i>
              </button>
          <button data-title="Delete" data-toggle="modal" data-target="#delete" title="Delete" class="btn btn-danger"
                       (click)="removeUser(user)">
                       <i class="glyphicon glyphicon-trash"></i>
            </button> -->
        </td>
        
         </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
