
<!-- 

<br>
<br>
<br>
<br>

<div>
  <br>
  <br>
  <br>
  <br>
  <span class="s">
<input type="checkbox" id=1 value=1 [checked]="i1=='true'" (change)="modify(1)">
<input type="checkbox" id=2 value=2 [checked]="i2=='true'" (change)="modify(2)">
<input type="checkbox" id=3 value=3 [checked]="i3=='true'" (change)="modify(3)">

<button (click)="show()">dfsdfsdf</button>
</span>

</div> -->
<div style="top:10px ;left:10px">
    
    <h1 style="font-size: 30px;padding-bottom: 0">Movie:{{movie[0].movie}}</h1>
    <h1 style="font-size: 10px">Price:{{movie[0].ticketCost}}</h1>

</div>

 <div class="container animate">
  
     <h1>Movie Seat Selection </h1>
     
    
    <div class="container">
        
        
            
          <ul class="seat_w3ls">
                <li class="smallBox greenBox">Selected Seat</li>
  
                <li class="smallBox redBox">Reserved Seat</li>
  
                <li class="smallBox emptyBox">Empty Seat</li>
            </ul>
            
            <div class="seatStructure txt-center" style="overflow-x:auto;">
                
                   <span *ngFor="let l of obj let i=index">
                       <span *ngIf="i%10==0">
                           <br><br>
                       </span>
                       <span *ngIf="i%5==0">
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       </span>
                       
                        <input type="checkbox" id={{l.seatId}} value={{l.seatId}} (change)="modify(l.seatId)" [disabled]="l.status=='true'">
                    
                    

                </span>
                
  
                <div class="screen">
                    <h2 class="wthree">Screen this way</h2>
                </div>
                <div>
                <button type ="button"  [disabled]="validate()" data-toggle="modal" data-target="#edit" class="btn btn-info"style="margin-left:%" (click)="pay()">Submit Booking!</button>
            </div>
</div>
</div>
</div>



<div id="edit" class="modal fade" role="dialog" style="align-content: center">
    <div class="modal-dialog"  style="align-content: center">
  
      <!-- Modal content-->
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        
        </div>
        <div class="modal-body">
                <div *ngIf="!select()">
                       <h1 style="color:black"> Not enough balance</h1>
                      </div>
                      <div *ngIf="select()">
                     <h2 style="color: black;font-size: 50px" >Tickets have been booked </h2>
                     <br>
                     <h1 style="color:black" >OTP: {{OTP}}</h1>
                    </div>
      </div>
      
    
  </div>
    </div>
  </div>
 