
  <div class="container animate">
  <div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
  <h2 class="text-uppercase" style="color:whitesmoke;">Welcome {{owner.name}}</h2>
  <font size="4">
<table align="center" style="color:whitesmoke;">
  <tr>
  <td align="left">User Id</td>
  <td align="left"> {{owner.id}}</td>
</tr>
<tr>
    <td align="left">Email Id</td>
    <td align="left"> {{owner.emailId}}</td>
  </tr>
  <tr>
      <td align="left">Phone</td>
      <td align="left"> {{owner.phone}}</td>
    </tr>
  
 </table>
 <br>
      <br>
      <br>
      <br>
      <br>
</font>
  
  </div>
  <div style="position: relative;
  top: 10px;
  right: 5px;">
  <a class="icons" [routerLink]="['/']"><span class="glyphicon glyphicon-log-out"></span><b>LogOut</b> </a>
  </div>
  <div class="col-md-6 ">
  <div  routerLink="/ownerbookings" class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
  <span class="icon bg-df circle"><i class="fa fa-film"></i></span>
  <h3 style="color:whitesmoke">View Bookings</h3>
  
  <!-- <a routerLink="" routerLinkActive="active">Book Tickets<i class="pl-5 fa fa-angle-double-right"></i></a> -->
  </div>
  </div>
  <div class="col-md-6 ">
  <div  routerLink="/ownerseat" class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
  <span class="icon bg-df circle"><i class="fa fa-cutlery"></i></span>
  <h3 style="color:whitesmoke" >Seat Matrix</h3>
  
  <!-- <a routerLink="" routerLinkActive="active">Order Food<i class="pl-5 fa fa-angle-double-right"></i></a> -->
  </div>
  </div>
  </div>
  </div>
  
  