<!-- <link rel="stylesheet" href="https://www.w3schools.	com/w3css/4/w3.css"> -->

<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 style="color:whitesmoke">Employee Login</h1>
	               		<hr  >
	               	</div>
				</div> 
				
				<div class="main-login main-center">
					<form class="form-horizontal animate" method="post" [formGroup]="loginForm" (ngSubmit)="login()">
						
							<div class="form-group">
							<label for="empId" class="cols-sm-2 control-label">Employee Id</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="empId" formControlName="empId" id="empId"  placeholder="Enter your Employee Id"/>
								</div>
							</div>
						</div>
						

					<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" formControlName="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
              				<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
              				<a routerLink="/employeeregistration" routerLinkActive="active" type="button"  style="    color: #fff;
							  background-color: #31b0d5;
							  border-color: #269abc;" class="btn btn-info btn-block">Register</a>
						</div>
						{{employee.message}}
						<div *ngIf="employee.message==null">
							<span class="text-danger">Please Enter Valid Login Details</span>
						</div>
					</form>
					
				</div>
			</div>
			
			
		</div>
		<!-- <div class="body" [ngClass]="{'backgroundyellow':condition2}">
				<div class="veen">
					<div class="login-btn splits">
						<p>Already an user?</p>
						<button [ngClass]="{}" (click)="clicklogin()">Login</button>
					</div>
					<div class="rgstr-btn splits">
						<p>Don't have an account?</p>
						<button (click)="clickregister()">Register</button>
					</div>
					<div class="wrapper" [ngClass]="{'move':condition2}">
						<form id="login" tabindex="500">
							<h3>Login</h3>
							<div class="mail">
								<input type="mail" name="">
								<label>Mail or Username</label>
							</div>
							<div class="passwd">
								<input type="password" name="">
								<label>Password</label>
							</div>
							<div class="submit">
								<button class="dark">Login</button>
							</div>
						</form>
						<form id="register" tabindex="502">
							<h3>Register</h3>
							<div class="name">
								<input type="text" name="">
								<label>Full Name</label>
							</div>
							<div class="mail">
								<input type="mail" name="">
								<label>Mail</label>
							</div>
							<div class="uid">
								<input type="text" name="">
								<label>User Name</label>
							</div>
							<div class="passwd">
								<input type="password" name="">
								<label>Password</label>
							</div>
							<div class="submit">
								<button class="dark">Register</button>
							</div>
						</form>
					</div>
				</div>	
			</div>
		
		<div class="site-link">
				<a href="http://creatorvisions.com" target="_blank">
					Creator <img src="http://creatorvisions.com/img/new-logo-2.png"> 
				Visions</a>
			</div>
			<style type="text/css">
				.site-link{
			  padding: 5px 15px;
					position: fixed;
					z-index: 99999;
					background: #fff;
					box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
					right: 30px;
					bottom: 30px;
					border-radius: 10px;
				}
				.site-link img{
					width: 30px;
					height: 30px;
				}
			</style>
			 -->
			
			
		 <router-outlet></router-outlet>
